# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
dist/
build/

# Airflow
logs/
airflow.db
airflow.cfg
airflow-webserver.pid
*.pid

# dbt
target/
dbt_packages/
logs/

# Data (keep structure, ignore contents)
data/raw/*.csv
data/processed/*.csv
data/raw/*.json
data/processed/*.json

# Environment
.env
.venv
env/
venv/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Streamlit
.streamlit/
